:root {
  --color-bg: #EEE;
  --color-text: #000;
  --color-title: #555;
  --card-bg: #FFF;
  --font-size: 14px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size);
}

h2 {
  margin-top: 0;
  font-size: 1.25em;
  color: var(--color-title);
  font-weight: 600;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.chart-wrapper {
  margin: 10px;
  padding: 20px;
  background-color: var(--card-bg);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.chart-wrapper.pie svg {
  padding: 0 20px;
}

.chart-wrapper.bar {

}

.chart-wrapper.pie text {
  fill: var(--color-text);
  font-size: var(--font-size);
}

.axis text {
  fill: var(--color-text);
  font-size: var(--font-size) !important;
}

.chart-wrapper .axis path, .axis line {
  fill: none;
  stroke-width: 0;
}
